In [1]:
import selenium
from selenium import webdriver
import pandas as pd

In [2]:
driver= webdriver.Chrome(r"C:\Users\Rajeev\Downloads\chromedriver_win32\chromedriver.exe")

#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [3]:
# Getting url
url="https://www.naukri.com/"
driver.get(url)

In [4]:
#Enter Data Analyst in search title
search= driver.find_element_by_id("qsb-keyword-sugg")
search.send_keys("Data Analyst")

In [5]:
# Enter Bangalore in location search
loc= driver.find_element_by_id("qsb-location-sugg")
loc.send_keys("Bangalore")

In [6]:
# clicking on search button
Search_btn= driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")  # Absolute xpath
Search_btn.click()

In [7]:
# Fetching job titles
job_title_tags= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")  # Relative xpath
job_title=[]
for i in job_title_tags:
    job_title.append(i.text)   # Extracting text
job_title

['Data Scientist / Data Analyst -Business Analyst',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Network Design & Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Data analysts',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs',
 'Software Developer / Web Developer/data analyst',
 'Consultant - Data Analyst',
 'Data Analyst – Financial, Healthcare, Sports Betting',
 'Data Analyst Azure',
 'Urgently Looking For Data Analyst',
 'Data Analyst',
 'Senior Security Specialist - CS Awareness & Data Analyst',
 'Data Analyst',
 'Senior Data Analyst Python, ML - Bangalore',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Consultant - Data Analyst',
 'Data Analyst']

In [8]:
# fetching job_locations
loc_tags= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
loc=[]
for i in loc_tags:
    loc.append(i.text)
loc

['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Coimbatore, Bangalore/Bengaluru, Trivandrum/Thiruvananthapuram',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(2nd Phase JP Nagar)',
 'Bangalore/Bengaluru(Whitefield)',
 '(WFH during Covid)',
 'Bangalore/Bengaluru']

In [9]:
# Fetching company name
company_tags= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company=[]
for i in company_tags:
    company.append(i.text)
company

['Inflexion Analytix Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'Dell International Services India Private Limited',
 'INTERTRUST GROUP',
 'IBM India Pvt. Limited',
 'Mind Circus Innovation',
 'Edubridgeindia',
 'Flipkart Internet Private Limited',
 'Quantsys',
 'CONDUENT BUSINESS SERVICES INDIA LLP',
 'Flipkart Internet Private Limited',
 'Allegis Services India Pvt. Ltd.',
 'Cognizant Technology Solutions India Pvt Ltd',
 'Clarivate Analytics (TRCPL Projects Pvt Ltd.)',
 '2coms',
 'Siemens Limited',
 'Bright Money',
 'Liventus, Inc.',
 'ZapCom Solutions Pvt Ltd',
 'ExecBoardinAsia']

In [10]:
#fetching Experience required
exp_tags= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience=[]
for i in exp_tags:
    experience.append(i.text)
experience

['0-3 Yrs',
 '10-15 Yrs',
 '0-2 Yrs',
 '3-8 Yrs',
 '5-10 Yrs',
 '0-2 Yrs',
 '0-1 Yrs',
 '0-2 Yrs',
 '2-4 Yrs',
 '3-6 Yrs',
 '2-3 Yrs',
 '8-13 Yrs',
 '4-7 Yrs',
 '1-2 Yrs',
 '2-7 Yrs',
 '0-5 Yrs',
 '0-2 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '5-10 Yrs']

In [11]:
# Creating Data Frame
jobs= pd.DataFrame()
jobs["Job_title"]=job_title[:10]
jobs["Job_Location"]=loc[:10]
jobs["Company_name"]=company[:10]
jobs["Experience"]=experience[:10]
jobs

,Job_title,Job_Location,Company_name,Experience
0,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,0-3 Yrs
1,Assistant Vice President - MIS & Reporting ( B...,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,10-15 Yrs
2,Network Design & Data Analyst,Bangalore/Bengaluru,Dell International Services India Private Limited,0-2 Yrs
3,Business Data Analyst - MIS & Reporting,"Mumbai, Bangalore/Bengaluru",INTERTRUST GROUP,3-8 Yrs
4,Data analysts,Bangalore/Bengaluru,IBM India Pvt. Limited,5-10 Yrs
5,Excel VBA Jobs Bangalore | VBA data analyst Jobs,"Coimbatore, Bangalore/Bengaluru, Trivandrum/Th...",Mind Circus Innovation,0-2 Yrs
6,Software Developer / Web Developer/data analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Edubridgeindia,0-1 Yrs
7,Consultant - Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,0-2 Yrs
8,"Data Analyst – Financial, Healthcare, Sports B...","Pune, Chennai, Bangalore/Bengaluru",Quantsys,2-4 Yrs
9,Data Analyst Azure,Bangalore/Bengaluru,CONDUENT BUSINESS SERVICES INDIA LLP,3-6 Yrs

#### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [12]:
# Getting url
url="https://www.naukri.com/"
driver.get(url)

In [13]:
#Enter Data Scientist in search title
search= driver.find_element_by_id("qsb-keyword-sugg")
search.send_keys("Data Scientist")

In [14]:
# Enter Bangalore in location search
loc= driver.find_element_by_id("qsb-location-sugg")
loc.send_keys("Bangalore")

In [15]:
# clicking on search button
Search_btn= driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
Search_btn.click()

In [16]:
# Fetching job titles
job_title_tags= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title=[]
for i in job_title_tags:
    job_title.append(i.text)
job_title[:10]

['Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist: Advanced Analytics',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'EXL - Senior Data Scientist, 5+ yrs, Mumbai / PUNE / BLR / Chennai',
 'Senior Data Scientist',
 'Senior Data Scientist/ Tech Lead - SQL/ Python/ Big Data',
 'Data Scientist']

In [17]:
# fetching job_locations
loc_tags= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
loc=[]
for i in loc_tags:
    loc.append(i.text)
loc[:10]

['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [18]:
# Fetching company name
company_tags= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company=[]
for i in company_tags:
    company.append(i.text)
company[:10]

['Inflexion Analytix Private Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'inVentiv International Pharma Services Pvt. Ltd.',
 'Superior Group',
 'FabHotel Aay Kay Model Town',
 'EXL Service',
 'ORMAE (Operations Research Machine learning & Analytics Experts LLP)',
 'Exploro Solutions',
 'Center for Study of Science, Technology and Policy']

In [19]:
# Fetching job titles
job_title_tags= driver.find_elements_by_xpath("//div[@class='info fleft']//a")
job_url=[]
job_desc=[]
for i in job_title_tags:
    job_url.append(i.get_attribute("href"))
job_url[:10]

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-0-to-3-years-020721003625?src=jobsearchDesk&sid=1625803334381425&xp=1&px=1',
 'https://www.naukri.com/inflexion-analytix-jobs-careers-3958080',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-070721908032?src=jobsearchDesk&sid=1625803334381425&xp=2&px=1',
 'https://www.naukri.com/ibm-india-jobs-careers-16987',
 'https://www.ambitionbox.com/reviews/ibm-reviews?utm_campaign=srp_ratings&utm_medium=desktop&utm_source=naukri?utm_campaign=srp_ratings&utm_medium=desktop&utm_source=naukri?utm_campaign=srp_ratings&utm_medium=desktop&utm_source=naukri',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-3-to-6-years-080721906014?src=jobsearchDesk&sid=1625803334381425&xp=3&px=1',
 'https://www.naukri.com/ibm-india-jobs-careers-16987',
 'https://www.ambitionbox.com/reviews/ibm-reviews?utm_campaign=srp_ratings&utm_medium=desktop&utm_source=naukri?utm_campaign=srp_ratings&utm_medium=desktop&utm_source=naukri?utm_campaign=srp_ratings&utm_medium=desktop&utm_source=naukri',
 'https://www.naukri.com/job-listings-senior-data-scientist-inventiv-international-pharma-services-pvt-ltd-hyderabad-secunderabad-gurgaon-gurugram-bangalore-bengaluru-3-to-6-years-090721000064?src=jobsearchDesk&sid=1625803334381425&xp=4&px=1',
 'https://www.naukri.com/inventiv-international-pharma-services-jobs-careers-835939']

In [20]:
# Scraping job description data
for i in job_url[:10]:
    driver.get(i)
    job_desc_tags= driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
    for j in job_desc_tags:
        job_desc.append(j.text.replace("\n"," "))
job_desc

["Job description  Job Role: Data Scientist/Data Analyst /Business Analyst  Location: Chennai/Bangalore/Hyderabad  Greetings from CAIA - Center for Artificial Intelligence & Advanced Analytics 43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in the year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization, and Cloud Computing.  While 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning, and AI in Tier 1 and Tier 2 organizations working closely with us.  To help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to upskill and get recruited into an organization appreciating your skilling journey. Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science. If you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.  Call to schedule interview Monday -Saturday from 10:00 am to 7 Pm  Koodesh B- +91 73395 11107 Manigandan B - +91 93444 57360  Email :  careerguidance.koodes@centerforaia.com manigandan@centerforaia.com  What is needed from you? Freshers who wish to start their career in Analytics and AI and professionals who wish to upskill or change their domain to analytics and emerging technologies are free to apply. Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Math's and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA Skills relating to Mathematics/Statistics. Natural passion towards numbers, business, coding, Analytics, and Artificial Intelligence, Machine Learning, visualization Good verbal and written communication skills Ability to understand domains in businesses across various sectors  Selection procedure includes Aptitude Test & Communication Exam - Online / Offline SQL/Python test - Online / Offline Candidates who clear the above will have one-one discussions with our Career Guidance Manager for further evaluation and processing of your Resume.  All the Shortlisted candidates will be eligible to continue the corporate training with CAIA What you can expect from us?  You will get trained on the following modules for a period of 12-14 weeks: SQL & PLSQL Data Wrangling using Python Data Visualization Using Power-BI Statistics for Machine Learning Artificial Intelligence, Data Interpretation Supervised & Unsupervised Learning, NLP & Deep Learning Cloud Data Lake Business intelligence & Data Visualization Simulation Projects Expected Outcome?  At the end of the Training you are expected to be well versed with the following: Analysis of large and complex data sets from multiple sources Development and evaluation of data analytics models, algorithms, and solutions Understanding/implementation of ML algorithms, performance tuning, and reporting Implementation of algorithms to mine targeted data and the ability to convert data into a business story Translation of business requirements into technical requirements; Data extraction, preparation, and transformation Identification, development, and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholders Finding analytical solutions to abstract business issues. Apply objective analysis of facts before coming to a conclusion"]

#### Q3: scrape data using the filters available on the webpage as shown below:
#### You have to use the location and salary filter.
#### You have to scrape data for “Data Scientist” designation for first 10 job results.
#### You have to scrape the job-title, job-location, company_name, experience_required.
#### The location filter to be used is “Delhi/NCR”
#### The salary filter to be used is “3-6” lakhs

In [21]:
# first get the webpage https://www.naukri.com/
url="https://www.naukri.com/"
driver.get(url)

In [22]:
#Enter “Data Scientist” in “Skill,Designations,Companies” field
search= driver.find_element_by_id("qsb-keyword-sugg")
search.send_keys("Data Scientist")

In [23]:
# clicking on search button
Search_btn= driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
Search_btn.click()

In [26]:
# Then apply the location filter and salary filter by checking the respective boxes
loc= driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i")
loc.click()

In [28]:
salary= driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
salary.click()

In [29]:
# Fetching job titles
job_title_tags= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title=[]
for i in job_title_tags:
    job_title.append(i.text)
job_title[:10]

['Data Scientist/Data Analyst /Business Analyst',
 'Senior Data Scientist',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Advanced Analytics -Data Scientist',
 'Data Scientist (Early Joiner)',
 'Data Scientist - Machine Learning/ NLP',
 'Data Scientist || Python || C2H',
 'Data Scientist || Python || C2H',
 'Chaayos is Looking For Data Scientist',
 'Data Scientist']

In [30]:
# fetching job_locations
loc_tags= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
loc=[]
for i in loc_tags:
    loc.append(i.text)
loc[:10]

['Pune, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Greater Noida, Delhi / NCR',
 'New Delhi, Hyderabad/Secunderabad',
 'Noida(Sector-59 Noida)',
 'Gurgaon/Gurugram',
 'Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru']

In [31]:
# Fetching company name
company_tags= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company=[]
for i in company_tags:
    company.append(i.text)
company[:10]

['Inflexion Analytix Private Limited',
 'inVentiv International Pharma Services Pvt. Ltd.',
 'GABA Consultancy services',
 'ERM Placement Services (P) Ltd.',
 'R Systems International Ltd.',
 'TalPro',
 'Growel Softech Pvt. Ltd.',
 'Growel Softech Pvt. Ltd.',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
 'Fractal Analytics']

In [32]:
#fetching Experience required
exp_tags= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience=[]
for i in exp_tags:
    experience.append(i.text)
experience[:10]

['0-3 Yrs',
 '3-6 Yrs',
 '0-0 Yrs',
 '3-7 Yrs',
 '4-8 Yrs',
 '2-6 Yrs',
 '4-6 Yrs',
 '4-6 Yrs',
 '0-5 Yrs',
 '3-7 Yrs']

In [33]:
# Creating Data Frame
jobs= pd.DataFrame()
jobs["Job_title"]=job_title[:10]
jobs["Job_Location"]=loc[:10]
jobs["Company_name"]=company[:10]
jobs["Experience"]=experience[:10]
jobs

,Job_title,Job_Location,Company_name,Experience
0,Data Scientist/Data Analyst /Business Analyst,"Pune, Delhi / NCR, Mumbai (All Areas)",Inflexion Analytix Private Limited,0-3 Yrs
1,Senior Data Scientist,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",inVentiv International Pharma Services Pvt. Ltd.,3-6 Yrs
2,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Greater Noida, Delhi / NCR",GABA Consultancy services,0-0 Yrs
3,Advanced Analytics -Data Scientist,"New Delhi, Hyderabad/Secunderabad",ERM Placement Services (P) Ltd.,3-7 Yrs
4,Data Scientist (Early Joiner),Noida(Sector-59 Noida),R Systems International Ltd.,4-8 Yrs
5,Data Scientist - Machine Learning/ NLP,Gurgaon/Gurugram,TalPro,2-6 Yrs
6,Data Scientist || Python || C2H,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",Growel Softech Pvt. Ltd.,4-6 Yrs
7,Data Scientist || Python || C2H,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",Growel Softech Pvt. Ltd.,4-6 Yrs
8,Chaayos is Looking For Data Scientist,New Delhi,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs
9,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs

#### Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [34]:
# 1. first get the webpage https://www.glassdoor.co.in/index.htm
url="https://www.glassdoor.co.in/index.htm"
driver.get(url)

In [35]:
Search_btn= driver.find_element_by_xpath("/html/body/header/nav[1]/div/div/div/div[4]/div[1]/button/span")
Search_btn.click()

In [36]:
# 2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
search= driver.find_element_by_id("scKeyword")
search.send_keys("Data Scientist")

In [37]:
loc= driver.find_element_by_id("scLocation")
loc.send_keys("Noida")

In [38]:
# clicking on search button
Search_btn= driver.find_element_by_xpath("/html/body/header/nav[1]/div/div/div/div[4]/div[3]/div[2]/form/div[2]/div[1]/button/span")
Search_btn.click()

In [39]:
# 4. Then scrape the data for the first 10 jobs results you get in the above shown page.
company_tags= driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']/span")
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names[:10]

['BreathX Technologies Pvt Ltd, A Canary Global Inc. company',
 'Kovid BioAnalytics',
 'Applied Materials Inc.',
 'OXO Solutions',
 'Barclays',
 'Siemens Technology and Services Private Limited',
 'White Vectors',
 'Applicate IT Solutions Pvt. Ltd.',
 'Shell',
 'BNY Mellon']

In [40]:
days_tag= driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
days_before=[]
for i in days_tag:
    days_before.append(i.text)
days_before[:10]

['9d', '1d', '30d+', '8d', '1d', '24h', '2d', '2d', '24h', '24h']

In [41]:
# Creating DataFrame
jobs= pd.DataFrame()
jobs["Company_name"]=company_names[:10]
jobs["Job_posted"]=days_before[:10]
jobs

                                        Company_name Job_posted
0  BreathX Technologies Pvt Ltd, A Canary Global ...         9d
1                                 Kovid BioAnalytics         1d
2                             Applied Materials Inc.       30d+
3                                      OXO Solutions         8d
4                                           Barclays         1d
5    Siemens Technology and Services Private Limited        24h
6                                      White Vectors         2d
7                   Applicate IT Solutions Pvt. Ltd.         2d
8                                              Shell        24h
9                                         BNY Mellon        24h

#### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [45]:
# 1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
url="https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)

In [46]:
# 2. Enter “Data Scientist” in Job title field and “Noida” in location field.
search= driver.find_element_by_id("KeywordSearch")
search.send_keys("Data Scientist")

In [48]:
loc= driver.find_element_by_id("LocationSearch")
loc.send_keys("Noida")

In [49]:
# 3. Click the search button.
Search_btn= driver.find_element_by_xpath("/html/body/div[3]/div/div[1]/div[1]/div/div/form/button")
Search_btn.click()

In [50]:
# 5. Scrape data for first 10 companies. 
#Scrape the min salary, max salary, company name, Average salary and rating of the company.
comp=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
company=[]
for i in comp:
    company.append(i.text)
company[:10]

['IBM',
 'Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'EXL Service',
 'Optum Global Solutions',
 'ZS Associates']

In [51]:
sal=driver.find_elements_by_xpath("//span[@class='d-block d-lg-none m-0 css-1b6bxoo']")
salary_range=[]
for i in sal:
    salary_range.append(i.text)
salary_range[:10]

['Range: ₹6L - ₹27L',
 'Range: ₹3L - ₹13L',
 'Range: ₹6L - ₹22L',
 'Range: ₹5L - ₹1Cr',
 'Range: ₹4L - ₹16L',
 'Range: ₹11L - ₹15L',
 'Range: ₹5L - ₹15L',
 'Range: ₹6L - ₹15L',
 'Range: ₹4L - ₹22L',
 'Range: ₹2L - ₹18L']

In [52]:
min_sal=[]
max_sal=[]
for i in range(10):
    s=salary_range[i]
    min_sal.append(s[7:10])
    max_sal.append(s[13:])
print(min_sal)
print(max_sal)

['₹6L', '₹3L', '₹6L', '₹5L', '₹4L', '₹11', '₹5L', '₹6L', '₹4L', '₹2L']
['₹27L', '₹13L', '₹22L', '₹1Cr', '₹16L', ' ₹15L', '₹15L', '₹15L', '₹22L', '₹18L']

In [53]:
avg_sal=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")
avg_salary=[]
for i in avg_sal:
    avg_salary.append(i.text.replace("\n"," "))
avg_salary[:10]

['₹9,00,000  /yr',
 '₹6,15,289  /yr',
 '₹11,63,336  /yr',
 '₹12,18,244  /yr',
 '₹7,39,238  /yr',
 '₹13,19,140  /yr',
 '₹8,63,750  /yr',
 '₹11,10,000  /yr',
 '₹13,28,697  /yr',
 '₹11,42,356  /yr']

In [54]:
rating_=driver.find_elements_by_xpath("//div[@class='d-flex align-items-center mt-xxsm']")
rating=[]
for i in rating_:
    rating.append(i.text.replace("\n"," "))
rating[:10]

['3.9 ★',
 '3.9 ★',
 '4 ★',
 '3.9 ★',
 '4 ★',
 '3.7 ★',
 '4.2 ★',
 '3.6 ★',
 '3.9 ★',
 '4 ★']

In [55]:
# Creating DataFrame
Salary_data= pd.DataFrame()
Salary_data["Company_name"]=company[:10]
Salary_data["Min_Salary"]=min_sal
Salary_data["Max_Salary"]=max_sal
Salary_data["Average_Salary"]=avg_salary[:10]
Salary_data["Ratings"]=rating[:10]
Salary_data

                Company_name Min_Salary Max_Salary   Average_Salary Ratings
0                        IBM        ₹6L       ₹27L   ₹9,00,000  /yr   3.9 ★
1  Tata Consultancy Services        ₹3L       ₹13L   ₹6,15,289  /yr   3.9 ★
2                  Accenture        ₹6L       ₹22L  ₹11,63,336  /yr     4 ★
3                  Delhivery        ₹5L       ₹1Cr  ₹12,18,244  /yr   3.9 ★
4         Ericsson-Worldwide        ₹4L       ₹16L   ₹7,39,238  /yr     4 ★
5         UnitedHealth Group        ₹11       ₹15L  ₹13,19,140  /yr   3.7 ★
6         Valiance Solutions        ₹5L       ₹15L   ₹8,63,750  /yr   4.2 ★
7                EXL Service        ₹6L       ₹15L  ₹11,10,000  /yr   3.6 ★
8     Optum Global Solutions        ₹4L       ₹22L  ₹13,28,697  /yr   3.9 ★
9              ZS Associates        ₹2L       ₹18L  ₹11,42,356  /yr     4 ★

#### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:( Brand, Product Description, Price, Discount %)

In [56]:
url = "https://www.flipkart.com/"
driver.get(url)

In [57]:
# 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
search= driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys("sunglasses")

In [58]:
search_btn= driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btn.click()

In [59]:
disc_perc=[]
brand=[]
prod_desc=[]
price=[]

In [61]:
for i in range(1,4):
    brand_tag= driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for j in brand_tag: 
        brand.append(j.text.replace("\n"," "))      # extracting text
        
    desc_tag= driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for j in desc_tag:
        prod_desc.append(j.text.replace("\n"," "))      # extracting text
    
    price_tags= driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for j in price_tags:
        price.append(j.text.replace("\n"," "))        # extracting text
    
    disc_tags= driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for j in disc_tags:
        disc_perc.append(j.text.replace("\n"," "))       # extracting text
    
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")     #scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))       #getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [62]:
# Creating data frame
Sunglasses= pd.DataFrame()
Sunglasses["Brand_name"]=brand[:100]
Sunglasses["Product_Description"]=prod_desc[:100]
Sunglasses["Price"]=price[:100]
Sunglasses["Discount_Percentage"]=disc_perc[:100]
Sunglasses.head()

,Brand_name,Product_Description,Price,Discount_Percentage
0,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹449,83% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹449,87% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,₹141 off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,₹286 off
4,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,88% off

#### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [63]:
# Open url
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
driver.get(url)

In [64]:
all_reviews= driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span")
all_reviews.click()

In [65]:
ratings=[]
review_full=[]
review_summary=[]

In [66]:
from selenium.common.exceptions import NoSuchElementException

In [67]:
for i in range(1,12):
    try:
        rating= driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for i in rating:
            ratings.append(i.text.replace("\n"," "))
    except NoSuchElementException:
        ratings.append("-")
    try:
        review_short= driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for j in review_short:
            review_summary.append(j.text.replace("\n"," "))
    except NoSuchElementException:
        review_summary.append("-")
    try:
        review= driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
        for j in review:
            review_full.append(j.text.replace("\n"," "))
    except NoSuchElementException:
        review_full.append("-")
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")     #scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))       #getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [68]:
# Creating data frame
Reviews= pd.DataFrame()
Reviews["Rating"]=ratings[:100]
Reviews["Review_summary"]=review_summary[:100]
Reviews["Full_Review"]=review_full[:100]
Reviews.head()

  Rating     Review_summary                                        Full_Review
0      5          Brilliant  The Best Phone for the Money  The iPhone 11 of...
1      5   Perfect product!  Amazing phone with great cameras and better ba...
2      5  Worth every penny  Previously I was using one plus 3t it was a gr...
3      5          Fabulous!  This is my first iOS phone. I am very happy wi...
4      5      Great product  Amazing Powerful and Durable Gadget.  I’m am v...

#### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. ( Brand, Product Description, Price, discount %)

In [69]:
# Open url
url="https://www.flipkart.com"
driver.get(url)

In [70]:
# search for "sneakers"
search= driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys("sneakers")

In [71]:
# to click on search button
search_btn= driver.find_element_by_xpath("/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btn.click()

In [72]:
discount_perc=[]
brand=[]
prod_desc=[]
price=[]
urls=[]

In [73]:
# Scraping urls for each sneakers
for i in range(1,4):
    url_tags=driver.find_elements_by_xpath("//a[@class='_3bPFwb']")
    for j in url_tags:
        urls.append(j.get_attribute("href"))
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")     #scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))       #getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [82]:
for j in urls[:100]:
    driver.get(j)
    try:    
        brand_tag= driver.find_element_by_xpath("//span[@class='G6XhRU']")  #scraping data from xpath
        brand.append(brand_tag.text.replace("\n"," "))      
    except:  
        brand.append("-")   # if xpath does not have data
    
    try:    
        desc_tag= driver.find_element_by_xpath("//span[@class='B_NuCI']")   #scraping data from xpath 
        prod_desc.append(desc_tag.text.replace("\n"," "))  
    except:
        prod_desc.append("-")    # if xpath does not have data

    try:
        price_tag= driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")   #scraping data from xpath
        price.append(price_tag.text.replace("\n"," "))  
    except:
        price.append("-")   # if xpath does not have data

    try:
        disc_tags= driver.find_elements_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']/span")   #scraping data from xpath
        discount_perc.append(j.text.replace("\n"," "))
    except:
        discount_perc.append("-")    # if xpath does not have data

In [78]:
Sneakers= pd.DataFrame()
Sneakers["Brand"]=brand
Sneakers["Product_Description"]=prod_desc
Sneakers["Price"]=price
Sneakers["Discount_percentage"]=discount_perc
Sneakers.head()

,Brand,Product_Description,Price,Discount_percentage
0,ROCKFIELD,Sneakers For Men (Multicolor),₹474,-
1,SHOEFLY,Combo Pack of 2 New Fashion Casual Loafers Sne...,₹478,-
2,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men...,₹379,-
3,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹499,-
4,CALCADOS,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹748,-

#### Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image. And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [84]:
# Open url
url="https://www.myntra.com/shoes"
driver.get(url)

In [87]:
# Selecting Colour
color_selection= driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_selection.click()

In [88]:
# Selecting Price Range
filter_selection= driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
filter_selection.click()

In [89]:
brand=[]
prod_desc=[]
price=[]

In [90]:
# Scraping Shoes Data
for i in range(1,3):
    try:    
        brand_tag= driver.find_elements_by_xpath("//h3[@class='product-brand']")  #scraping data from xpath
        for j in brand_tag: 
            brand.append(j.text.replace("\n"," "))      
    except NoSuchElementException:  
        brand.append("-")   # if xpath does not have data
    
    try:    
        desc_tag= driver.find_elements_by_xpath("//h4[@class='product-product']")   #scraping data from xpath
        for j in desc_tag:
            prod_desc.append(j.text.replace("\n"," "))  
    except NoSuchElementException:
        prod_desc.append("-")    # if xpath does not have data
    
    try:
        price_tags= driver.find_elements_by_xpath("//div[@class='product-price']")   #scraping data from xpath
        for j in price_tags:
            price.append(j.text.replace("\n"," "))  
    except NoSuchElementException:
        price.append("-")   # if xpath does not have data
     
    nxt_button=driver.find_elements_by_xpath("//a[@rel='next']")     #scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))       #getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [91]:
print("Length of Brand list: ",len(brand))
print("Length of Brand list: ",len(price))
print("Length of Brand list: ",len(prod_desc))

Length of Brand list:  100
Length of Brand list:  100
Length of Brand list:  100

In [92]:
# Creating Dataframe
Shoes= pd.DataFrame()
Shoes["Brand"]=brand[:100]
Shoes["Price"]=price[:100]
Shoes["Product_Description"]=prod_desc[:100]
Shoes.head()

                  Brand      Price            Product_Description
0                  Puma   Rs. 6999      Mesh Hybrid Fuego Running
1                  Nike  Rs. 10295     Men AIR ZOOM Running Shoes
2                  Nike   Rs. 7195  Men ZOOM SPAN 3 Running Shoes
3                  Nike   Rs. 7195  Women SPEEDREP Training Shoes
4  FORCLAZ By Decathlon   Rs. 6999             TREKKING 100 Boots

#### Q10: Go to webpage https://www.amazon.in/. Enter “Laptop” in the search field and then click the search icon.. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” and scrape first 10 laptops data ( title, Ratings, Price)

In [93]:
# Open url
url="https://www.amazon.in/"
driver.get(url)

In [94]:
# search for "laptop"
search= driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search.send_keys("laptop")

In [95]:
# to click on search button
search_btn= driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_btn.click()

In [97]:
# Selecting filter using loop
filter_button= driver.find_elements_by_xpath("//span[@class='a-size-base a-color-base']")
for i in filter_button:
    if i.text=="Intel Core i7":
        i.click()
        break;

In [98]:
# Selecting CPU type filter by text xpath
filter_selection= driver.find_element_by_xpath("//*[text()='Intel Core i9']")
filter_selection.click()

In [99]:
url_tags=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
urls=[]
for i in url_tags:
    urls.append(i.get_attribute("href"))

In [100]:
title=[]
price=[]
rating=[]

In [101]:
import time

In [102]:
# Scraping Data for laptops
for i in urls[:10]:
    driver.get(i)
    time.sleep(5)
    try:
        title_t=driver.find_element_by_xpath("//h1[@class='a-size-large a-spacing-none']")
        title.append(title_t.text)
    except NoSuchElementException:
        title.append("-")
    try:
        rate= driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        rating.append(rate.text)
    except NoSuchElementException:
        rating.append("-")
    try:
        price_t=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-price priceBlockBuyingPriceString']")
        price.append(price_t.text)
    except NoSuchElementException:
        price.append("-")

In [103]:
# creating Data Frame
Laptop= pd.DataFrame()
Laptop["Brand"]=title
Laptop["Price"]=price
Laptop["Ratings"]=rating
Laptop

,Brand,Price,Ratings
0,Lenovo Legion 7 10th Gen Intel Core i7 15.6 in...,"₹ 2,00,000.00",2.8 out of 5
1,Dell Alienware m15(R3) 15.6-inch FHD Gaming La...,"₹ 1,74,990.00",3.1 out of 5
2,Lenovo Legion Y540 Intel Core i7 9th Gen 15.6”...,"₹ 69,990.00",4.3 out of 5
3,HP Pavilion (2021) Thin & Light 11th Gen Core ...,"₹ 84,990.00",4.5 out of 5
4,Mi Notebook Horizon Edition 14 Intel Core i7-1...,"₹ 59,999.00",4.4 out of 5
5,Dell 14 (2021) i7-1165G7 2in1 Touch Screen Lap...,"₹ 92,630.00",4.6 out of 5
6,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,"₹ 86,990.00",4.2 out of 5
7,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...","₹ 96,872.00",4.1 out of 5
8,HP Envy x360 Convertible Touchscreen 13.3-inch...,-,4.6 out of 5
9,"Dell Inspiron 5406 14"" FHD Touch Display 2in1 ...",-,3.8 out of 5