## Worksheet 4 on Web Scraping

In [1]:
## Importing Libraries

import selenium
from selenium import webdriver
import pandas as pd
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
driver= webdriver.Chrome(r"C:\Users\Rajeev\Downloads\chromedriver_win32\chromedriver.exe")

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [4]:
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [10]:
#scraping names of the video

name=[]

try:

    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")

    for i in names:

        name.append(i.text)

except NoSuchElementException:#handling no such element exception

    name.append('No details available')

except StaleElementReferenceException:#handling Stale element exception

    name.append('No details available')

In [12]:
#scraping ranks of the video

rank=[]

try:

    ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")

    for i in ranks:

        rank.append(i.text)

except NoSuchElementException:#handling no such element exception

    rank.append('No details available')

except StaleElementReferenceException:#handling Stale element exception

    rank.append('No details available')

In [14]:
#scraping uploaders of the video

artist=[]

try:

    uplod=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")

    for i in uplod:

        artist.append(i.text)

except NoSuchElementException:#handling no such element exception

    artist.append('No details available')

except StaleElementReferenceException:#handling Stale element exception

    artist.append('No details available')

In [15]:
#scraping views of the video

views=[]

try:

    v=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")

    for i in v:

        views.append(i.text)

except NoSuchElementException:#handling no such element exception

    views.append('No details available')

except StaleElementReferenceException:#handling Stale element exception

    views.append('No details available')

In [19]:
#scraping date of upload of the video

date=[]

try:

    dt=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")

    for i in dt:

        date.append(i.text)

except NoSuchElementException:#handling no such element exception

    date.append('No details available')

except StaleElementReferenceException:#handling Stale element exception

    date.append('No details available')

In [20]:
# creating the data frame
Video_Details= pd.DataFrame()
Video_Details["Rank"]=rank
Video_Details["Name"]=name
Video_Details["Artist"]=artist
Video_Details["Views"]=views
Video_Details["Upload_Date"]=date
Video_Details.head()

,Rank,Name,Artist,Views,Upload_Date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,9.04,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.46,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.58,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.40,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.19,"April 6, 2015"

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:

A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code

In [3]:
url="https://www.bcci.tv"
driver.get(url)

In [5]:
# opening desired page
mnu_btn=driver.find_element_by_xpath("//button[@class='navigation__header-button menu-button js-navigation-menu-button']")
mnu_btn.click()

drop=driver.find_element_by_xpath("//div[@class='navigation__link navigation__link--has-drop-down js-navigation-link']")
drop.click()

slct=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a")
slct.click()

In [10]:
# Scraping match title
title=[]
try:
    mt=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
    
    for i in mt:
        title.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    title.append("No Such Details")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    title.append("No Such Details")

In [11]:
# Scraping series detail
series=[]
try:
    ser=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
    
    for i in ser:
        series.append(i.text)

except NoSuchElementException:  #handling no such element exception
    series.append("No Such Details")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    series.append("No Such Details")

In [28]:
# scraping place of match
place=[]
try:
    plc_tag=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
    
    for i in plc_tag:
        place.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    place.append("No Such Details")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    place.append("No Such Details")

In [13]:
# scraping date of match
date=[]
try:
    dt_tag=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']/strong")
    
    for i in dt_tag:
        date.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    date.append("No Such Details")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    date.append("No Such Details")

In [24]:
#scraping time of match
time_t=[]
try:
    tm_tag=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']")
    
    for i in tm_tag:
        time_t.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    time_t.append("No Such Details")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    time_t.append("No Such Details")

    # fetching time 
tym=[]
for i in range(len(time_t)):
    s=time_t[i]
    tym.append(s[-10:])

In [30]:
## Creating a dataframe
International_Fixtures= pd.DataFrame()
International_Fixtures["Match title"]=title
International_Fixtures["Series"]=series
International_Fixtures["Place"]=place
International_Fixtures["Date"]=date
International_Fixtures["Time"]=tym
International_Fixtures

,Match title,Series,Place,Date,Time
0,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday 4 August,15:30 IST
1,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",Thursday 12 August,15:30 IST
2,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25 August,15:30 IST
3,4th Test,ENGLAND V INDIA 2021,"The Oval, London",Thursday 2 September,15:30 IST
4,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",Friday 10 September,15:30 IST

Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [31]:
url="https://www.guru99.com"
driver.get(url)

In [32]:
sel_btn=driver.find_element_by_xpath("/html/body/div[2]/section[4]/div/div/div/div/div/div/div/div[1]/div/ul[1]/li[3]/a")
sel_btn.click()

In [33]:
sel_excp=driver.find_element_by_xpath("/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a")
sel_excp.click()

In [35]:
# Scraping name of exception
name=[]

try:
    nm=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    
    for i in nm:
        name.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    name.append("No Such Details")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    name.append("No Such Details")

In [36]:
# Scraping description of exception
desc=[]

try:
    desc_tag=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    
    for i in desc_tag:
        desc.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    desc.append("No Such Details")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    desc.append("No Such Details")

In [37]:
## Creating Dataframe
Exception=pd.DataFrame()
Exception["Name"]=name
Exception["Description"]=desc
Exception.head()

,Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [38]:
url="http://statisticstimes.com"
driver.get(url)

In [40]:
drop=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button")
drop.click()

btn=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
btn.click()

In [41]:
stgdp_btn=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
stgdp_btn.click()

In [44]:
## Scraping rank of state
rank=[]
try:
    rnk=driver.find_elements_by_xpath("//tr[@role='row']/td[1]")
    for i in rnk:
        rank.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    rank.append("No Such Details")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    rank.append("No Such Details")

In [46]:
# Scraping for state name
state=[]
try:
    stt=driver.find_elements_by_xpath("//tr[@role='row']/td[2]")
    for i in stt:
        state.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    state.append("No Such Details")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    state.append("No Such Details")

In [53]:
# Scraping for GSDP(19-20)
gsdp_c1=[]
try:
    gsdp=driver.find_elements_by_xpath("//tr[@role='row']/td[3]")
    for i in gsdp:
        gsdp_c1.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    gsdp_c1.append("No Such Details")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    gsdp_c1.append("No Such Details")

In [49]:
#Scraping for GSDP(18-19)
gsdp_c2=[]
try:
    gsdp=driver.find_elements_by_xpath("//tr[@role='row']/td[4]")
    for i in gsdp:
        gsdp_c2.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    gsdp_c2.append("No Such Details")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    gsdp_c2.append("No Such Details")

In [50]:
# Scrapig Share data for each state
share=[]
try:
    shr=driver.find_elements_by_xpath("//tr[@role='row']/td[5]")
    for i in shr:
        share.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    share.append("No Such Details")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    share.append("No Such Details")

In [51]:
# Scraping GDP for each state
gdp=[]

try:
    gdp_t=driver.find_elements_by_xpath("//tr[@role='row']/td[6]")
    for i in gdp_t:
        gdp.append(i.text)
        
except NoSuchElementException:  #handling no such element exception
    gdp.append("No Such Details")
    
except StaleElemnetReferenceException:  #handling Stale element exception
    gdp.append("No Such Details")

In [55]:
# Creating Data frame
GDP_statewise=pd.DataFrame()
GDP_statewise["Rank"]=rank
GDP_statewise["State"]=state
GDP_statewise["GSDP(19-20)"]=gsdp_c1
GDP_statewise["GSDP(18-19)"]=gsdp_c2
GDP_statewise["Share"]=share
GDP_statewise["GDP"]=gdp
GDP_statewise.head()

  Rank          State GSDP(19-20) GSDP(18-19)   Share      GDP
0    1    Maharashtra           -   2,632,792  13.94%  399.921
1    2     Tamil Nadu   1,845,853   1,630,208   8.63%  247.629
2    3  Uttar Pradesh   1,687,818   1,584,764   8.39%  240.726
3    4        Gujarat           -   1,502,899   7.96%  228.290
4    5      Karnataka   1,631,977   1,493,127   7.91%  226.806

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [3]:
url="https://github.com"
driver.get(url)

In [5]:
mnu_btn=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/button")
mnu_btn.click()

exp_drp=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
exp_drp.click()

trnd_btn=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
trnd_btn.click()

In [9]:
url=[]
url_t=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in url_t:
    url.append(i.get_attribute("href"))

In [18]:
name=[]
desc=[]
cont=[]
lang=[]

for i in (range(len(url))):
    driver.get(url[i])
    time.sleep(2)
    
    # Scraping name of repository
    try:
        nm=driver.find_element_by_xpath("//h1[@class=' d-flex flex-wrap flex-items-center break-word f3 text-normal']")
        name.append(nm.text)
        
    except NoSuchElementException:  #handling no such element exception
        name.append("No Such Details")
    
    except StaleElementReferenceException:  #handling Stale element exception
        name.append("No Such Details")
        
    # Scraping description of repository
    try:
        desc_t=driver.find_element_by_xpath("//p[@class='f4 mb-3']")
        desc.append(desc_t.text)
        
    except NoSuchElementException:  #handling no such element exception
        desc.append("No Such Details")
    
    except StaleElemnetReferenceException:  #handling Stale element exception
        desc.append("No Such Details")
        
        # Scraping contributers count in repository
    try:
        cont_t=driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[3]/div/h2/a/span")
        cont.append(cont_t.text)
        
    except NoSuchElementException:  #handling no such element exception
        cont.append("No Such Details")
    
    except StaleElemnetReferenceException:  #handling Stale element exception
        cont.append("No Such Details")

        # Scraping language used in repository
    try:
        lng_t=driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[4]/div/ul")
        lang.append(lng_t.text)
        
    except NoSuchElementException:  #handling no such element exception
        lang.append("No Such Details")
    
    except StaleElemnetReferenceException:  #handling Stale element exception
        lang.append("No Such Details")

In [19]:
# Creating DataFrame
repository=pd.DataFrame()
repository["Name"]=name
repository["Description"]=desc
repository["Language"]=lang
repository["Contributers_count"]=cont
repository.head()

,Name,Description,Language,Contributers_count
0,mitmproxy\n/\nmitmproxy,An interactive TLS-capable intercepting HTTP p...,,1.4k
1,Hiroshiba\n/\nvoicevox,No Such Details,Hiroshiba Hiroshiba\nmasarakki masarakki\nshir...,
2,sysprog21\n/\nlkmpg,The Linux Kernel Module Programming Guide (upd...,,No Such Details
3,dataease\n/\ndataease,人人可用的开源数据可视化分析工具。,Java\n40.6%\nVue\n26.9%\nPLpgSQL\n16.0%\nJavaS...,9
4,facebookresearch\n/\ndroidlet,A modular embodied agent architecture and plat...,No Such Details,

In [20]:
driver.close()

6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [21]:
driver= webdriver.Chrome(r"C:\Users\Rajeev\Downloads\chromedriver_win32\chromedriver.exe")

In [22]:
url="https://www.billboard.com"
driver.get(url)

In [23]:
drop= driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/nav/ul/li[3]/a")
drop.click()

In [41]:
# Scraping Song name
name=[]
try:
    nm=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
    for i in nm:
        name.append(i.text)

except NoSuchElementException:  #handling no such element exception
    name.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    name.append("No Such Details")

In [42]:
# Scraping song artist
artst=[]
try:
    artst_tag=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
    for i in artst_tag:
        artst.append(i.text)

except NoSuchElementException:  #handling no such element exception
    artst.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    artst.append("No Such Details")

In [48]:
# scraping rank of song last week
lw=[]
try:
    lw_tag=driver.find_elements_by_xpath("//span[@class='chart-element__metas chart-element__metas--small display--flex']/span[1]")
    for i in lw_tag:
        lw.append(i.text)

except NoSuchElementException:  #handling no such element exception
    lw.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    lw.append("No Such Details")

In [49]:
# scraping peak rank of song
pk=[]
try:
    pk_tag=driver.find_elements_by_xpath("//span[@class='chart-element__metas chart-element__metas--small display--flex']/span[2]")
    for i in pk_tag:
        pk.append(i.text)

except NoSuchElementException:  #handling no such element exception
    pk.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    pk.append("No Such Details")

In [50]:
# scraping for week on chart
woc=[]
try:
    woc_tag=driver.find_elements_by_xpath("//span[@class='chart-element__metas chart-element__metas--small display--flex']/span[3]")
    for i in woc_tag:
        woc.append(i.text)

except NoSuchElementException:  #handling no such element exception
    woc.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    woc.append("No Such Details")

In [51]:
## Creating a data frame
Top100_songs=pd.DataFrame()
Top100_songs["Song Name"]=name
Top100_songs["Artist"]=artst
Top100_songs["LastWeek Rank"]=lw
Top100_songs["Peak Rank"]=pk
Top100_songs["Weeks on Chart"]=woc
Top100_songs.head()

,Song Name,Artist,LastWeek Rank,Peak Rank,Weeks on Chart
0,Butter,BTS,1 LW,1 Pk,10 WoC
1,Industry Baby,Lil Nas X & Jack Harlow,,2 Pk,1 WoC
2,Good 4 U,Olivia Rodrigo,2 LW,1 Pk,11 WoC
3,Stay,The Kid LAROI & Justin Bieber,4 LW,3 Pk,3 WoC
4,Levitating,Dua Lipa Featuring DaBaby,3 LW,2 Pk,43 WoC

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [52]:
url="https://www.naukri.com"
driver.get(url)

In [55]:
new_pg=driver.find_element_by_xpath("/html/body/div[1]/div[1]/div/ul[1]/li[2]/a")
new_page=new_pg.get_attribute("href")

In [57]:
driver.get(new_page) # to open recruiters page
time.sleep(2)

search=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
search.send_keys("Data Science")

btn=driver.find_element_by_id("qsbFormBtn")
btn.click()

In [66]:
urls=[]
url_t=driver.find_elements_by_xpath("//a[@class='ellipsis']")
for i in url_t:
    urls.append(i.get_attribute("href"))

In [77]:
name=[]
desg=[]
comp_name=[]
skills=[]
loc=[]

for i in (range(len(urls))):
    driver.get(urls[i])
    time.sleep(3)
    
    # Scraping Recruiter's name
    try:
        nm=driver.find_element_by_xpath("//h1[@class='fl ellipsis wLimit hd']")
        name.append(nm.text)

    except NoSuchElementException:  #handling no such element exception
        name.append("No Such Details")
    
    except StaleElementReferenceException:  #handling Stale element exception
        name.append("No Such Details")

    # Scraping Designation of recruiter
    try:
        desg_t=driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']")
        desg.append(desg_t.text)

    except NoSuchElementException:  #handling no such element exception
        desg.append("No Such Details")
    
    except StaleElementReferenceException:  #handling Stale element exception
        desg.append("No Such Details")

    # Scraping Company of recruiter
    try:
        comp=driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']/div[4]")
        comp_name.append(comp.text)

    except NoSuchElementException:  #handling no such element exception
        comp_name.append("No Such Details")
    
    except StaleElementReferenceException:  #handling Stale element exception
        comp_name.append("No Such Details")

    # Scraping skills they hire for
    try:
        skl=driver.find_element_by_xpath("//div[@class='fl lPortn']/p")
        skills.append(skl.text)

    except NoSuchElementException:  #handling no such element exception
        skills.append("No Such Details")
    
    except StaleElementReferenceException:  #handling Stale element exception
        skills.append("No Such Details")
        
    # Scraping location of recruiter
    try:
        loc_t=driver.find_element_by_xpath("//div[@class=''rFrame fl infoWrapper']/div[5]")
        loc.append(loc_t.text)
    
    except NoSuchElementException:  #handling no such element exception
        loc.append("No Such Details")
    
    except StaleElementReferenceException:  #handling Stale element exception
        loc.append("No Such Details")

In [78]:
# Creating Data frame
Recruiters=pd.DataFrame()
Recruiters["Name"]=name
Recruiters["Designation"]=desg
Recruiters["Company"]=comp_name
Recruiters["Location"]=loc
Recruiters["Skills"]=skills
Recruiters.head()

,Name,Designation,Company,Location,Skills
0,Aakash Harit,Aakash Harit\nHR Manager\nData Science Network...,Data Science Network,No Such Details,"Classic ASP Developer , Internet Marketing Pro..."
1,No Such Details,No Such Details,No Such Details,No Such Details,No Such Details
2,shravan Kumar Gaddam,shravan Kumar Gaddam\nCompany Recruiter\nShore...,Shore Infotech India Pvt. Ltd,No Such Details,".Net , Java , Data Science , Linux Administrat..."
3,No Such Details,No Such Details,No Such Details,No Such Details,No Such Details
4,MARSIAN Technologies LLP,MARSIAN Technologies LLP\nCompany HR\nMARSIAN ...,MARSIAN Technologies LLP,No Such Details,"Mid Level, Junior Level"

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [79]:
Url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(Url)

In [80]:
# Scraping Book name
name=[]
try:
    nm=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in nm:
        name.append(i.text)

except NoSuchElementException:  #handling no such element exception
    name.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    name.append("No Such Details")

In [81]:
# Scraping author name
author=[]
try:
    auth=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in auth:
        author.append(i.text)

except NoSuchElementException:  #handling no such element exception
    author.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    author.append("No Such Details")

In [82]:
# Scraping Volumes sold
vol_sold=[]
try:
    vol=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in vol:
        vol_sold.append(i.text)

except NoSuchElementException:  #handling no such element exception
    vol_sold.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    vol_sold.append("No Such Details")

In [83]:
# Scraping Publisher name
pub=[]
try:
    pub_t=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in pub_t:
        pub.append(i.text)

except NoSuchElementException:  #handling no such element exception
    pub.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    pub.append("No Such Details")

In [84]:
# Scraping genre of book
gnr=[]
try:
    gnr_t=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in gnr_t:
        gnr.append(i.text)

except NoSuchElementException:  #handling no such element exception
    gnr.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    gnr.append("No Such Details")

In [85]:
# Creating Data Frame
Books_Sold=pd.DataFrame()
Books_Sold["Book_Name"]=name
Books_Sold["Author"]=author
Books_Sold["Volume Sold"]=vol_sold
Books_Sold["Publisher"]=pub
Books_Sold["Genre"]=gnr
Books_Sold.head()

,Book_Name,Author,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [86]:
url="https://www.imdb.com/list/ls095964455"
driver.get(url)

In [88]:
# Scraping TV Show name
name=[]
try:
    nm=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in nm:
        name.append(i.text)

except NoSuchElementException:  #handling no such element exception
    name.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    name.append("No Such Details")

# Scraping span time of Tv show
spn_tm=[]
try:
    spn=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in spn:
        spn_tm.append(i.text)

except NoSuchElementException:  #handling no such element exception
    spn_tm.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    spn_tm.append("No Such Details")

# Scraping genre of book
gnr=[]
try:
    gnr_t=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in gnr_t:
        gnr.append(i.text)

except NoSuchElementException:  #handling no such element exception
    gnr.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    gnr.append("No Such Details")

# Scraping runtime of TV Show
rntm=[]
try:
    rntm_t=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in rntm_t:
        rntm.append(i.text)

except NoSuchElementException:  #handling no such element exception
    rntm.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    rntm.append("No Such Details")

# Scraping rating of TV Show
rtng=[]
try:
    rt=driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]")
    for i in rt:
        rtng.append(i.text)

except NoSuchElementException:  #handling no such element exception
    rtng.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    rtng.append("No Such Details")

# Scraping number of votes
votes=[]
try:
    vt=driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]")
    for i in vt:
        votes.append(i.text)

except NoSuchElementException:  #handling no such element exception
    votes.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    votes.append("No Such Details")

In [89]:
# Creating Dataframe
TV_Shows=pd.DataFrame()
TV_Shows["Name"]=name
TV_Shows["Span Time"]=spn_tm
TV_Shows["Genre"]=gnr
TV_Shows["RunTime"]=rntm
TV_Shows["Ratings"]=rtng
TV_Shows["Number_of_votes"]=votes
TV_Shows.head()

,Name,Span Time,Genre,RunTime,Ratings,Number_of_votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,848,399"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"885,910"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"885,834"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"266,405"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"226,968"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [3]:
Url = "https://archive.ics.uci.edu"
driver.get(Url)

In [4]:
btn=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/span/b/a")
btn.click()

In [7]:
# Scraping name of datasets
name=[]
try:
    nm=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in nm:
        name.append(i.text)

except NoSuchElementException:  #handling no such element exception
    name.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    name.append("No Such Details")

# Scraping Data types
type_=[]
try:
    typ=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in typ:
        type_.append(i.text)

except NoSuchElementException:  #handling no such element exception
    type_.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    type_.append("No Such Details")

# Scraping default task
task=[]
try:
    tsk=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in tsk:
        task.append(i.text)

except NoSuchElementException:  #handling no such element exception
    task.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    task.append("No Such Details")

# Scraping type of attributes
type_attr=[]
try:
    typ_attr=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in typ_attr:
        type_attr.append(i.text)

except NoSuchElementException:  #handling no such element exception
    type_attr.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    type_attr.append("No Such Details")

# Scraping Number of instances
inst=[]
try:
    inst_t=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in inst_t:
        inst.append(i.text)

except NoSuchElementException:  #handling no such element exception
    inst.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    inst.append("No Such Details")

# Scraping Number of attributes
attr=[]
try:
    attr_t=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in attr_t:
        attr.append(i.text)

except NoSuchElementException:  #handling no such element exception
    attr.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    attr.append("No Such Details")

# Scraping year 
year=[]
try:
    yr=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in yr:
        year.append(i.text)

except NoSuchElementException:  #handling no such element exception
    year.append("No Such Details")
    
except StaleElementReferenceException:  #handling Stale element exception
    year.append("No Such Details")

In [8]:
## Creating dataframe
DataSets=pd.DataFrame()
DataSets["Name"]=name
DataSets["Data Type"]=type_
DataSets["Default task"]=task
DataSets["Attribute type"]=type_attr
DataSets["Number of instances"]=inst
DataSets["Number of attributes"]=attr
DataSets["Year"]=year
DataSets.head()

,Name,Data Type,Default task,Attribute type,Number of instances,Number of attributes,Year
0,Data Types,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Multivariate,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Multivariate,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Multivariate,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,,,Recommender-Systems,Categorical,37711,294,1998